
extend layoutes/mainlayoute.pug
block style
block body
     div.category1
          div.category2
               h1 #{category}
     div#most-discounts
          h1 بیشترین تخفیفات
          ul
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               
          div.clearfix
     div#discounts
          h1 محبوبترین تخفیفات
          ul
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         div.list
                              img(src="./image/photo_2020-10-11_17-37-43.jpg" alt="pic1")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true")
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
          div.clearfix 
block footer