extend layoutes/mainlayoute.pug

block style
block body
     .head
          img#logo-head(src="image/logo.png", alt="logo")
          img#gif-head(src="gif/scenes.gif", alt="head gif")
     div#popular-offers
          h1 محبوبترین تخفیفات


          
          ul
               each v,k in a
                    li
                         a(href="#")
                              .list
                                   img(src=v.main_pic , alt="")
                                   p#offers-in-pop= v.off
                                   h2= v.name
                                   i(class="fa fa-map-marker" aria-hidden="true") 
                                   strong= v.address
                   
     .clearfix
     .bg-main-offers
          .main-offers
               h1 دسته بندی تخفیفات
               ul
                    a(href="#")
                         li
                              div
                                   img(src="gif/sport1.gif", alt="sport gif")
                                   p مجموعه ورزشی
                    a(href="#")
                         li
                              div
                                   img(src="gif/course1.gif", alt="sport gif")
                                   p دوره آموزشی
                    a(href="#")
                         li
                              div
                                   img(src="gif/cofe1.gif", alt="sport gif")
                                   p رستوران و کافی شاپ


block footer