extend layoutes/mainlayoute.pug

block style
block body
     .head
          img#logo-head(src="image/logo.png", alt="logo")
          img#gif-head(src="gif/scenes.gif", alt="head gif")
     div#popular-offers
          h1 محبوبترین تخفیفات
               
          ul
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-37-43.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-37-50.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-37-56.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-38-01.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-38-13.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-38-18.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-38-22.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
               a(href="#")
                    li
                         .list
                              img(src="image/photo_2020-10-11_17-38-26.jpg", alt="")
                              p#offers-in-pop 70%
                              h2 مجموعه ورزشی اکسین
                              i(class="fa fa-map-marker" aria-hidden="true") 
                              strong تهران-انقلاب
                              i(class="fa fa-eye" aria-hidden="true")
                              p 127
     .clearfix
     .bg-main-offers
          .main-offers
               h1 دسته بندی تخفیفات
               ul
                    a(href="#")
                         li
                              div
                                   img(src="gif/sport1.gif", alt="sport gif")
                                   p مجموعه ورزشی
                    a(href="#")
                         li
                              div
                                   img(src="gif/course1.gif", alt="sport gif")
                                   p دوره آموزشی
                    a(href="#")
                         li
                              div
                                   img(src="gif/cofe1.gif", alt="sport gif")
                                   p رستوران و کافی شاپ


block footer