extend layoutes/mainlayoute.pug
block style
block body
     .containerLogin
          .login
               h1#defLogin ورود به حساب کاربری
               form(id="formLogin" action="/login" method="post")
                    input(id="userLogin" type="text" name="username" placeholder=" نام کاربری")
                    input(id="passwordLogin" type="password" name="password" placeholder="رمز عبور")
                    br
                    a(id="aLogin" href="http://localhost:3000/signup") حساب کاربری ندارید؟ ثبت نام کنید
                    button#btnLogin ورود
block footer