extend layoutes/mainlayoute.pug
block style
block body
    #containerSignup
        #signup
            h1#abc ساخت حساب کاربری
                form(action="/signup" method="post")
                    input(type="text" name="name" placeholder="نام")
                    input(type="text" name="lastname" placeholder="نام خانوادگی")
                    input(type="text" name="user" placeholder=" نام کاربری")
                    input(type="text" name="email" placeholder="پست الکترونیک")
                    input(type="text" name="password" placeholder="رمز عبور")
                    a(id="aSignup" href="http://localhost:3000/login") حساب کاربری دارید؟ وارد شوید
                    button#btnSigup ثبت نام


block footer
    