extend layoutes/mainlayoute.pug
block style
block body
     #containerUser
          #infoUser
               #first-childUser
                    h1#nameUser Name:   #{name}
                    h1#lastNameUser Last Name: #{lastname}
                    
          #savedDis
               h1 تخفیفات ذخیره شده
               ul
                    a(href="#")
                         li
                              .listUser
                                   img(src="image/photo-1.jpg", alt="")
                                   h1 باشگاه ورزشی اکسین
                                   p تخفیف %30
                    a(href="#")
                         li 
                              .listUser
                                   img(src="image/photo-1.jpg", alt="")
                                   h1 باشگاه ورزشی اکسین
                                   p تخفیف %30
block footer
          