.clearfix{
     float: none;
     clear: both;
}
#containerAdmin{
     width: 1024px;
     background-color:rgb(214, 213, 213);
     margin: auto;
     -webkit-box-shadow: 2px 4px 30px -9px #000000; 
     box-shadow: 2px 4px 30px -9px #000000;
}
.about{
     width: 1024px;
     margin: auto;
}
#adminName{
     float: left;
     display: inline;
     margin: 15px;
     font-size: 25px;
     font-family: "fun";
     font-weight: bold;
     color: black;
}
#adminUser{
     font-weight: normal;
     color: black;
     float: left;
     display: block;
     margin: 15px;
     font-size: 20px;
     font-family: "fun";
}
#adminbox{
     width: 1024px;
     border-top: black 2px solid ;
     margin: auto;
}
#adminbox label{
     display: inline-block;
     margin-top: 40px;
     margin-left: 100px;
     font-weight: bold;
     font-family: "fun";
     color: black;
}
.create select{
     display: block;
     margin: 0px 0 0 200px;
     height: 30px;
}
#adminbox textarea{
     display: block;
     margin: -20px 0 0 200px;
}
#adminbox input{
     width: 500px;
     height: 30px;
     display: block;
     margin: -20px 0 0 200px;
     border-radius: 5px;
}
#adminbox button{
     margin: 30px 0 0 200px;
     padding: 5px 40px;
     font-weight: bold;
     background-color: rgb(42, 216, 85);
     border: 1px gray solid;
     border-radius: 10px;
     font-size: 19px;
     font-family: "fun";
}
#adminbox .edit button{
     background-color: rgb(255, 174, 0);
     margin-left: 200px;
}
#adminbox .delete button{
     background-color: rgba(255, 13, 13, 0.753);
     margin-left: 200px;
}
@media only screen and (max-width: 768px) {
     #containerAdmin{
          width: 768px;
          margin: auto;
     }
     .about{
          width: 768px;
          margin: auto;
     }
     #adminName{
          float: left;
          display: inline;
          margin: 15px 30px;
          font-size: 20px;
          font-family: "fun";
          font-weight: bold;
     }
     #adminUser{
          float: left;
          display: block;
          margin: 15px 30px;
          font-size: 15px;
          font-family: "fun";
          font-weight: normal;
     }
     #adminbox{
          margin: auto;
          width: 768px;
          border-top: black 2px solid ;
     }
     #adminbox label{
          display: inline-block;
          margin-top: 30px;
          margin-left: 60px;
          font-weight: bold;
          font-family: "fun";
     }
     #adminbox select{
          display: block;
          margin: -20px 0 0 150px;
     }
     #adminbox textarea{
          display: block;
          margin: -20px 0 0 150px;
     }
     #adminbox input{
          width: 500px;
          height: 30px;
          display: block;
          margin: -20px 0 0 150px;
          border-radius: 5px;
     }
     #adminbox button{
          margin: 30px 0 0 150px;
          padding: 5px 40px;
          font-weight: bold;
          background-color: rgb(42, 216, 85);
          border-radius: 10px;
          font-size: 19px;
          font-family: "fun";
     }
     #adminbox .edit button{
          margin-left: 150px;
     }
     #adminbox .delete button{
          background-color: rgba(255, 13, 13, 0.753);
          margin-left: 150px;
     }
}
@media only screen and (max-width: 425px) {
     #containerAdmin{
          width: 425px;
          margin: auto;
     }
     .about{
          width: 423px;
          margin: auto;
     }
     #adminName{
          float: left;
          display: inline;
          margin: 15px;
          font-size: 20px;
          font-family: "fun";
          font-weight: bolder;
     }
     #adminUser{
          float: left;
          display: block;
          margin: 15px;
          font-size: 15px;
          font-family: "fun";
          font-weight: normal;
     }
     #adminbox{
          width: 425px;
          border-top: black 2px solid ;
     }
     #adminbox label{
          display: inline-block;
          margin-top: 30px;
          margin-left: 10px;
          font-weight: bold;
          font-family: "fun";
     }
     #adminbox select{
          display: block;
          margin: -20px 0 0 120px;
     }
     #adminbox textarea{
          display: block;
          margin: -20px 0 0 120px;
          width: 200px;
     }
     #adminbox input{
          width: 200px;
          height: 30px;
          display: block;
          margin: -20px 0 0 120px;
          border-radius: 5px;
     }
     #adminbox button{
          margin: 30px 0 0 120px;
          padding: 5px 40px;
          font-weight: bold;
          background-color: rgb(42, 216, 85);
          border-radius: 10px;
          font-size: 19px;
          font-family: "fun";
     }
     #adminbox .edit button{
          margin-left: 120px;
     }
     #adminbox .delete button{
          background-color: rgba(255, 13, 13, 0.753);
          margin-left: 120px;
     }
}
