body{
    color: #f5f5f5;
}
#containerSignup{
    width: 600px;
    margin: auto;
}
#signup #abc{
    margin: 30px auto;
    font-size: 30px;
    color: #f34242;
    text-align: center;
}
form input{
    width: 600px;
    height: 40px;
    margin: 10px auto;
    text-align: right;
    padding: 10px;
    color: rgb(65, 64, 64);
    border:1px solid rgb(223, 208,171);
    border-radius: 10px;
    font-size: 18px;
}
#signup form{
    margin: 10px auto;
}
#signup form a{
    color: #097694;
    font-size: 20px;
    font-weight: bold;
    margin-left: 339px;
    text-decoration: none;
}
#signup form label{
    color: #0e3e4b;
    font-size: 15px;
}
#signup form button{
    margin-top: -10px;
    border-radius: 10px;
    background-color: #01BFF3;
    color: white;
    width: 600px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 5px;
}

@media only screen and (max-width: 425px){
    #containerSignup{
        width: 425px;
        margin: auto;
    }
    #signup #abc{
        margin: 30px auto;
        font-size: 30px;
        color: #f34242;
        text-align: center;
        font-family: "fun";
    }
    form input{
        width: 350px;
        height: 40px;
        margin: 10px auto;
        text-align: right;
        padding: 10px;
        color: rgb(65, 64, 64);
        border:1px solid rgb(236, 209, 138);
        border-radius: 10px;
        font-size: 18px;
        font-family: "fun";
    }
    #signup form{
        margin: 10px auto;
    }
    #signup form a{
        color: #0084a8;
        margin-left: 123px;
        text-decoration: none;
        font-family: "fun";
    }
    #signup form label{
        color: #0e3e4b;
        font-size: 15px;
    }
    #signup form button{
        border-radius: 10px;
        background-color: #01BFF3;
        color: white;
        width: 350px;
        margin: 90px 0 0 25px;
        font-family: "fun";
    }
}