<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style.
            @font-face {
            font-family: 'fun';
            src: url('fonts/fonts/eot/IRANSansWeb.eot'); /* IE9 Compat Modes */
            src: url('fonts/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('fonts/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
            url('fonts/fonts/woff/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
            url('fonts/fonts/ttf/IRANSansWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
            url('fonts/fonts/eot/IRANSansWeb.svg#svgFontName') format('svg'); /* Legacy iOS */
            }
        link(rel="stylesheet", href="css/header.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/footer.css")
        link(rel="stylesheet", href="fonts/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="css/category.css")
        link(rel="stylesheet", href="css/home.css")
        link(rel="stylesheet", href="css/admin.css")
        title #{title}
    block style
    body
        header
            div.nav
                ul
                    li
                        a(href="#" class="modal") ثبت نام
                    li
                        a(href="#" class="modal") /
                    li
                        a(href="#" class="enter") ورود
                a(href="/")
                    img(id="nav-logo" src="./image/nav_logo.png" alt="logo")
        div.clearfix
        div.offer-location
    block body
    div#footer
        div.footer
            img(src="image/logo.png" alt="logo")
            h2 ارتباط با ما
            h3 مجموعه فان- تخفیفات و سرگرمی لایتک
            ul
                li
                    i(class="fa fa-phone" aria-hidden="true")
                    p تلفن: ۰۲۱۶۶۰۸۶۰۱۹ - ۰۲۱۶۶۰۳۵۱۲۵ -۰۲۱۶۶۰۱۳۶۴۷
                li
                    i(class="fa fa-fax" aria-hidden="true")
                    p فکس ۰۲۱۸۹۷۸۳۷۵۶
                li    
                    i(class="fa fa-envelope-o" aria-hidden="true")
                    p ایمیل: into@laitec.ir - edu@laitec.ir
        div.sochial-media1
            div.sochial-media2
                ul
                    li
                        a(href="#")
                            i(class="fa fa-facebook" aria-hidden="true")
                    li
                        a(href="#")
                            i(class="fa fa-twitter" aria-hidden="true")
                    li
                        a(href="#")
                            i(class="fa fa-instagram" aria-hidden="true")
    div.clearfix
    block footer

    